.header {
    display: flex;
    align-items: center;
    background-color: #353A40;
    padding: 10px;
}

.header a {
    margin-left: 30px;
    text-decoration: none;
    color: #80949D;
}

.header h1 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

a.active {
    color: #fff;
}